<!DOCTYPE html>
<html ng-app="app" ng-controller="appController">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="angular/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- ANGULAR -->
	
	<script src="angular/angular.min.js"></script>
    <script src="angular/angular-resource.js"></script>
    <script	src="angular/angular-ui-router.min.js"></script>
	<script src="angular/angular-route.js"></script>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="angular/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="angular/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="angular/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<title>Log/Reg Page!</title>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/app.js"></script>
<script src="js/appController.js"></script>
<script src="js/appService.js"></script>

</head>
<body data-ng-app="app" data-ng-controller="appController" ng-init="init()" >


<!-- REGISTER POPUP WINDOW -->

<div class="modal fade" id="regWindow">
	<div class="modal-dialog">
		<div class="modal-content">
			<div align="right" class="modal-header">
				<buttontype="button" id="regclose" name="regclose" class="close"  data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<input  type="text"  data-ng-model="username"  class="form-control" placeholder="Username" required = "required" >
						<input  type="text"  data-ng-model="lozinka" class="form-control" placeholder="Lozinka" required = "required">
						<input  type="text" class="form-control" data-ng-model="ime" placeholder="Ime" required = "required">
						<input  type="text" class="form-control" data-ng-model="prezime" placeholder="Prezime" required = "required">	
						<div class="selectContainer" >
				        	<select class="form-control sirina" ng-model="uloga" ng-change="changedRole(uloga)"  ng-options="x for x in roles">
 							</select>
				        </div>
						
						<input  type="text" id="adresa" name="adresa" data-ng-model="adresa" class="form-control" placeholder="Adresa isporuke" required = "required">
						<div class="modal-footer"> 
							<input type="submit" ng-click="createKorisnik(username,lozinka,ime,prezime,datePicker,uloga,adresa)" class="btn btn-primary btn-block" value="Register" id="register" >
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>				
</div>		

<!-- LOGIN POPUP WINDOW -->

<div class="modal fade" id="logWindow">
		<div class="modal-dialog">
			<div class="modal-content">
				<div align="right" class="modal-header">
					<buttontype="button" class="close"  data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<input type="text" ng-model="uname" class="form-control" placeholder="Username" required = "required">
							<input type="password" ng-model="pass" class="form-control" placeholder="Password" required = "required">
							<div class="modal-footer">
							<input type="submit" ng-click="login(uname,pass)" class="btn btn-primary btn-block" value="Login"  >
							</div>
						</div>
				</div>
				</form>

			</div>
		</div>
	
	</div>
</div>		

<!-- NAVBAR -->
<nav class="navbar navbar-light" style="background-color: #2381c4;">
	<div class="container-fluid">
	 	<div class="navbar-header" >
			<a href="#" width=500 class="navbar-brand">Web Shop</a>
		</div>
		
		<form class="navbar-form navbar-right" role="search">
			<button id="loginBtn" type="submit" class="btn btn-light " data-toggle="modal" data-target="#logWindow"> Login</button>
	        <button id="regBtn" type="reset" class="btn btn-light " data-toggle="modal" data-target="#regWindow"> Register</button>
	    	
	    	<a id="profileBtn" class="btn btn-light "  href="#/profil">Profil</a>
	    	<a id="korpaBtn" class="btn btn-light "  href="#/korpa">Korpa</a>
	    	<button id="logoutBtn" ng-click="logout()" type="submit" class="btn btn-light "> Logout</button>
	    	
			
	    </form>
	</div>
	
</nav>

<div ui-view>

</div>

</body>
</html>